<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Suspect Search Category"
            id="com.dforensic.plugin.manal">
      </category>
      <view
            name="Suspect List"
            icon="icons/history_list.gif"
            category="com.dforensic.plugin.manal"
            class="com.dforensic.plugin.manal.views.SuspectListVw"
            id="com.dforensic.plugin.manal.views.SuspectList">
      </view>
      <view
            name="Leak Sources"
            icon="icons/history_list.gif"
            category="com.dforensic.plugin.manal"
            class="com.dforensic.plugin.manal.views.LeakSourcesVw"
            id="com.dforensic.plugin.manal.views.LeakSources">
      </view>
   </extension>
      
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Suspect Search Category"
            id="com.dforensic.plugin.manal.commands.category">
      </category>
      <command
            name="Suspect Search"
            categoryId="com.dforensic.plugin.manal.commands.category"
            id="com.dforensic.plugin.manal.commands.suspectSearch">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="com.dforensic.plugin.manal.commands.suspectSearch"
            class="com.dforensic.plugin.manal.views.handlers.SuspectSearchHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.dforensic.plugin.manal.commands.suspectSearch"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+7"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
		<command
        commandId="com.dforensic.plugin.manal.commands.suspectSearch"
        label="Search suspected API"
        style="push">
        </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="com.dforensic.plugin.manal.toolbarSuspectSearch">
            <command
                  commandId="com.dforensic.plugin.manal.commands.suspectSearch"
                  icon="icons/magnifier.jpg"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
  
   <extension
          point="org.eclipse.ui.newWizards">
       <category
             id="com.dforensic.plugin.manal"
             name="Suspect Analysis Manal Templates">
       </category>
       <wizard
             category="com.dforensic.plugin.manal"
             class="com.dforensic.plugin.manal.wizards.NewManalProjectWizard"
             icon="icons/analysis.gif"
             id="com.dforensic.plugin.manal.wizards.NewManalProjectWizard"
             name="Suspect analysis project"
             project="true">
       </wizard>
    </extension>
    <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.dforensic.plugin.manal.perspective.SuspectAnalysisPerspective"
            icon="icons/analysis.jpg"
            id="com.dforensic.plugin.manal.perspective.SuspectAnalysis"
            name="Suspect Analysis">
      </perspective>
   </extension>
   
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.dforensic.plugin.manal.perspective.SuspectAnalysis">
        <!--  <actionSet id="org.eclipse.jdt.ui.JavaActionSet"/>
         <viewShortcut id="org.eclipse.jdt.ui.PackageExplorer"/> 
         <perspectiveShortcut id="org.eclipse.jdt.ui.JavaPerspective"/>  -->
         
		<view id="com.dforensic.plugin.manal.views.SuspectList"
               relationship="right"
               relative="right"
               ratio = "0.85f"
               visible="true" />
        
        <view id="com.dforensic.plugin.manal.views.LeakSources"
               relationship="bottom"
               relative="org.eclipse.ui.editorss"
               ratio = "0.75f"
               visible="true" />       
        
   		<view id="org.eclipse.jdt.ui.PackageExplorer"
			  relative="org.eclipse.ui.editorss"
              relationship="left"
              ratio="0.3f"
              visible="true"/> 
      </perspectiveExtension>
   </extension>
   
</plugin>
